@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

h1 {
    padding: 0px;
    margin: 0px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

p {
    padding: 0px;
    margin: 0px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

/* userPage */

/* round icon button */

.round-icon-button {
    position: fixed;
    bottom: 24px;
    right: 24px;
    width: 50px;
    height: 50px;
    background-color: tomato;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    justify-items: center;
}


/* user details page */


.user-details-page img {
    width: 300px;
    height: 300px;
    border-radius: 200px;
}

.user-details-page--user-details {
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-bottom: 40px;
}

.user-details-page--user-details--text {
    padding-left: 30px;
}

.user-details-page--user-details--text p {
    font-size: 22px;
}

.user-details-page--farm-container {
    padding: 10px;
}

.user-details-page--farm-card {
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.4);
}

.user-details-page--farm-card h2 {
    padding: 0px;
    margin: 0px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.user-details-page--farm-card--headding {
    padding-bottom: 20px;
}

.user-details-page--farm-card--headding--npk {
    display: flex;
}

.user-details-page--farm-card--headding--npk p {
    padding: 5px;
}