@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.error {
    font-size: 12px;
    font-weight: 400;
    color: tomato;
    padding: 10px;
}


body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

h1 {
    padding: 0px;
    margin: 0px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

p {
    padding: 0px;
    margin: 0px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

/* userPage */

/* round icon button */

.round-icon-button {
    position: fixed;
    bottom: 24px;
    right: 24px;
    width: 50px;
    height: 50px;
    background-color: tomato;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* user details page */
.user-details-page {
    padding: 40px;
}

.user-details-page img {
    width: 300px;
    height: 300px;
    border-radius: 200px;
}

.user-details-page--user-details {
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-bottom: 40px;
}

.user-details-page--user-details--text {
    padding-left: 30px;
}

.user-details-page--user-details--text p {
    font-size: 22px;
}

.user-details-page--farm-container {
    padding: 10px;
    display: flex;
    /* Set the width of the container */
    overflow-x: scroll;
    width: 80vw;
    /* Enable horizontal scrolling */
    white-space: nowrap;

}

.user-details-page--farm-container::-webkit-scrollbar {
    display: none;
    /* Hide the scrollbar */
}

.user-details-page--farm-card {
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.4);
    margin-left: 20px;
}

.user-details-page--farm-card h2 {
    padding: 0px;
    margin: 0px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.user-details-page--farm-card--headding {
    padding-bottom: 20px;
}

.user-details-page--farm-card--headding--npk {
    display: flex;
}

.user-details-page--farm-card--headding--npk p {
    padding: 5px;
}

/* vegetable create page */

.vegetable-create-form {
    padding: 200px 300px;
}

.vegetable-create-form--form {
    display: flex;
    flex-direction: column;
}

.vegetable-create-form--form label {
    padding: 0px;
    margin: 0px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.vegetable-create-form--form--row {
    display: flex;
    justify-content: space-between;
}

.vegetable-create-form--form--buttons {
    display: flex;
    justify-content: end;
    padding-top: 20px;
}

.vegetable-create-form--form--buttons button {
    padding: 5px;
    margin-left: 10px;
}

.vegetable-create-form--form input {
    padding: 5px;
    margin: 5px 0px;
}